*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
#nav{
    /* background-color: brown; */
    /* padding-top: 30px; */
    position: relative;
    height: 80px;
}
#nav-logo{
    padding-top: 30px;
    padding-left: 30px;
}
#nav-logo img{
    height: 45px;
    width: 145px;
    /* object-fit: cover; */
    object-position: center;
    top: 15%;
    
    position: absolute;
    
}
#nav-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    
    /* position: absolute; */
}

#nav-content a{
    color: #fff;
    text-decoration: none;
    
}
#nav-log{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    gap: 17px;
    top: 15%;
    right: 2%;
    position: absolute;
}
#nav-log a{
    color: #fff;
    text-decoration: none;
}
#nav-log .gs{
    border: 2px solid#fff;
    color: #000;
    padding: 11px 12px;
    background-color: #fff;
}
#main{
    position: relative;
    margin-top: 55px;
    
}
#main h1{
    color: #fff;
    font-size: 105px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    position: relative; 
     display: flex;
    align-items: center;
    justify-content: center; 
    padding-bottom: 15px;
}
#main span{
    border: 2px solid white;
    background-color: rgb(141, 58, 44);
    padding: 23px 40px;
    border-radius: 50px;
    margin: 15px 25px;
    font-size: 25px;
    display: inline-block;
    /* position: absolute; */
   


}
#left-img img{
    height: 200px;
    width: 140px;
    left: 10%;
    position: absolute;
    top: 10%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;


}
#right-img img{
    height: 180px;
    width: 140px;
    right: 15%;
    position: absolute;
    bottom: -11%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;

}
#scroll{
    /* border: 2px solid white; */
   
    /* display: inline-block; */
    padding: 12px 17px;
    border-radius: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin-top: 80px;
}
#scroll a{
color: #fff;
font-weight: 700;
text-decoration: none;
font-size: 18px;

}